@import url(../Main.css);

body {
	background: #000;
}

/* Message General */
.status
{
	border-top: 2px solid #999;
	padding: 8px 10px;
	text-align: left;
	background: url(../images/stripe_w-bg.png) repeat;
}

.status .message
{
	color: #999;
	font-weight: bold;
	font-size: 30px;
	text-shadow: #000 0px 0px 2px;
}

.status .time
{
	position: relative;
	float: right;
	color: #999;
	font-weight: bold;
	font-size: 30px;
	text-shadow: #000 0px 0px 2px;
}

.sender
{
	color: #656565;
}

.content .time,
.context .time
{
	color: #656565;
}

.nextcontent-in .time,
.nextcontext-in .time,
.nextcontent-out .time,
.nextcontext-out .time
{
	color: #656565;
}

.incoming .buddyicon
{
	position: relative;
	float: right;
	padding-right: 0px;
}

.incoming .time
{
	float: left;
	right: 10px;
}

.incoming .message
{
	padding-left: 60px;
	padding-right: 0px;
}

.incoming .sender
{
	left: -10px;
}

.nextcontent-in,
.nextcontext-in
{
	padding-left: 10px;
} 

.nextcontent-in .message,
.nextcontext-in .message
{
	padding-left: 10px;
	padding-right: 90px;
}

.nextcontent-in .time,
.nextcontext-in .time
{
	float: left;
	clear: both;
}
