@import url(../Main.css);

/* Message General */

.incoming .buddyicon
{
	position: relative;
	float: right;
	padding-right: 0px;
}

.incoming .buddyicon img
{
	width: 80px;
	height: 80px;
}

.incoming .time
{
	float: left;
	right: 10px;
}

.incoming .message
{
	padding-left: 60px;
	padding-right: 0px;
}

.incoming .sender
{
	left: -10px;
}

.nextcontent-in,
.nextcontext-in
{
	padding-left: 10px;
} 

.nextcontent-in .message,
.nextcontext-in .message
{
	padding-left: 10px;
	padding-right: 90px;
}

.nextcontent-in .time,
.nextcontext-in .time
{
	float: left;
	clear: both;
}

