body {
	margin: 0px;
	padding: 0px;
	font-family: "FreeSans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	background: #fff;
	position: relative;
	z-index: 0;
}

a:link
{
	color: #9e9dfd;
	text-decoration: underline;
}

a:hover
{
	color: #941498;
	text-decoration: underline;
}

a:active
{
	color: #fff;
	text-decoration: underlined;
}

/* Message General */
.status {
	display: block;
	background: url(images/stripe_b-bg.png) left top repeat;
	border-top: 1px solid #999;
	padding: 9px 0px 10px;
	clear: both;
	position: relative;
	z-index: 0;
}
.status .message {
	color: #999;
	font-weight: bold;
	font-size: 2em;
	position: absolute;
	top: 0px;
	left: 88px;
	right: 88px;
	bottom: 0px;
	z-index: -1;
}
.status .time {
	color: #999;
	font-weight: bold;
	font-size: 2em;
	width: 88px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	z-index: -1;
}
/* Incoming & Outgoing messages */
.incoming, .outgoing {
	/*border-top: 2px solid #999;*/
	display: block;
	background: url(images/messageDivider.png) left top repeat-x;
	min-height: 80px;
	margin-top: 10px;
	padding-top: 10px;
	position: relative;
	z-index: 0;
}
.incoming .buddyicon {
	display: block;
	background: url(images/usericonMaskIn.png) left top no-repeat;
	width: 88px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 0;
}
.incoming .buddyicon img {
	margin: 2px 9px 0px;
	width: 70px;
	height: 70px;
	-webkit-mask-image: url(images/in_alpha.png);
}
.outgoing .buddyicon {
	display: block;
	background: url(images/usericonMaskOut.png) right top no-repeat;
	width: 88px;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}
.outgoing .buddyicon img {
	margin: 2px 9px 0px;
	width: 70px;
	height: 70px;
	-webkit-mask-image: url(images/out_alpha.png);
}
.content, .context {
	display: block;
	min-height: 80px;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}
.incoming .content .time, .incoming .context .time, .nextcontent-in .time, .nextcontext-in .time {
	display: block;
	background: url(images/timestampIn.png) right top no-repeat;
	color: #d3d8d8;
	font-size: 1.25em;
	line-height: 32px;
	text-align: left;
	width: 48px;
	padding-left: 32px;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}
.outgoing .content .time, .outgoing .context .time, .nextcontent-out .time, .nextcontext-out .time {
	display: block;
	background: url(images/timestampOut.png) left top no-repeat;
	color: #d3d8d8;
	font-size: 1.25em;
	line-height: 32px;
	text-align: right;
	padding-right: 32px;
	width: 48px;
	padding-right: 32px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 0;
}
.incoming .message, .outgoing .message, .nextcontent-in .message, .nextcontext-in .message, .nextcontent-out .message, .nextcontext-out .message {
	display: block;
	color: #333;
	padding: 0px 88px 0px;
	position: relative;
	top: 0px;
	bottom: 0px;
	z-index: 0;
}
.sender {
	display: block;
	padding-bottom: 0.50em;
	color: #333;
	font-size: 1.25em;
	font-weight: bold;
	word-wrap: break-word;
}
/* lser fl desproblemet */
.content:after, .context:after {
	display: block;
	content: ".";
	line-height: 0;
	height: 0;
	visibility: hidden;
	position: relative;
	z-index: 0;	
}

/* next message */
.context, .nextcontext-in, .nextcontext-out {
	opacity:.35;
}
.nextcontent-in, .nextcontext-in, .nextcontent-out, .nextcontext-out {
	display: block;
	border-top: 1px dotted #e0e0e0;
	min-height: 32px;
	margin-top: 10px;
	padding-top: 5px;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}

